body {
    border-radius: 8px; /*rounded image corners*/
    background-image: url("images/stormyrainbow.jpg");
    background-attachment: fixed;
    background-size: 100% 100%; /*makes background take up entire screen*/
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: #e2d9db;
    font-size: .95em;
}

main	{
	width: 80%;
	margin: 0 auto;
	padding-top: 20px;
	padding-bottom: 15px;
	text-align: justify;
	border-radius: 20px 50px 20px 50px; /*rounded image corners*/
    background-color: rgba(29, 39, 48, 0.85); /*slightly transparent background color*/
    border:3px solid #ada4a9;
}

article {
    padding: 30px 100px 30px 100px;
}

h1 {
    text-align: center;
    font-size: 175%; 
    color: #FB445B;
}

.quotation  {
    font-style: italic;
    font-size: .90em;
}

img {
    border-radius: 8px; /*rounded image corners*/
}

#main_picture {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

figure	{
    float: right;
    width: 100px;
    padding-right: 50px;	
}

figcaption {
    font-size: .70em;
}

footer	{
	clear: both;
	text-align: center;
	padding-right:38px;
	padding-top: -5px;
    border-top: 2px solid #C5B4B2;
	border: center;
    border-width: medium;
}

a:link, a:visited	{
	color: #FB445B;
	text-decoration:none;
}
		
a:focus, a:hover	{
	color:#ae1a5d;
	text-decoration:none;
}